#text-area{
	border-style:solid;
	border-width:1px;
	width:886px;
	height:500px;
	position:absolute;
	left:20px;
	top:120px;
	font-family: 'Droid Sans Mono', Menlo, Consolas, 'Courier New', Courier, monospace, sans-serif;
	overflow:scroll;
	background-color: white;
	font-size: 16px;
	resize:none;
}

#header{
	position:absolute;
	width:100%;
	height:100px;
	background-color:#196E8C;
	margin: -8px;
	text-align:center;
	vertical-align:25px;
	font-family: 'Droid Sans Mono', Menlo, Consolas, 'Courier New', Courier, monospace, sans-serif;
	font-size:50px;
	color:white;
}

#container{
	width:100%;
	height:100%;
	background-color:#7AB3C9;
	margin-left: -8px;
	padding: 10px;
}
#line-number-container{
	padding-top: 5px;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #B4B4B4;
	width:42px;
	padding-right:8px;
	height:100%;
	float:left;
	font-family: 'Droid Sans Mono', Menlo, Consolas, 'Courier New', Courier, monospace, sans-serif;
	background-color: white;
	text-align:right;
}
#input-text{
	padding-top: 5px;
	width: 825;
	padding-left: 5px;
	float:left;
	height:100%;

}

.fa-exclamation-triangle{
	color:red;
}

#err-message{
	position:absolute;
	width:200px;
	background-color:white;
	padding:6px;
	border-style:solid;
	border-width:1px;
	font-family: 'Droid Sans Mono', Menlo, Consolas, 'Courier New', Courier, monospace, sans-serif;
}